# Исключаем директорию с бинарными файлами моделей faster-whisper
models

# Исключаем директорию с загружаемыми пользователем медиа-файлами
media

# Исключаем скрытые файлы и директории
.

# Но не игнорируем сам .gitignore
!.gitignore

# Не игнорируем .github
!.github

# Игнорируем генерируемые Python кэш-файлы
**/__pycache__/
